.header__container{
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  background: #e8c39c;
  padding: 10px;
  margin-bottom: 20px;
  gap: 15px;
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 3px 5px 5px rgba(34, 60, 80, 0.2);
}