.header__container{
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  background: #e8c39c;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 3px 1px 7px 1px rgba(108,129,135,1);
  a{
    font-size: 36px;
    font-weight: 700;
    text-align: left;
  }
}

.menu__button{
  display: none;
}

.header__action{
  display: flex;
  gap: 30px
}

@media (max-width: 790px) {
  .menu__button{
    display: block;
  }
}


