.book__container{
  border-radius: 10px;
  flex-grow: 1;
  background: #e5c095;
  box-shadow: 3px 1px 7px 1px rgba(108,129,135,1);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2{
    align-self: flex-start;
  }
}

.books__control{
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  grid-row: 1;
  gap: 20px;
  padding:0 10px 10px;
  border-radius: 10px;
  background: rgba(217, 171, 122, 0.85);
  box-shadow: 1px 3px 5px 5px rgba(34, 60, 80, 0.2);
}

.books__content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 15px
}
.books__pagination{
  align-self: center;
}
//
//.users__button{
//  display: none;
//}
//
//.show__all{
//  border: none;
//  width: 100%;
//  border-radius: 10px;
//  padding: 30px 0;
//  background: #dc9b67;
//  font-size: 20px;
//  font-weight: 600;
//  cursor: pointer;
//
//}
//
//
@media (max-width: 570px) {
  .books__control {
    flex-wrap: wrap;
  }
}
//
//@media (max-width: 525px) {

//  .users__button{
//    display: block;
//    position: absolute;
//    top: -70px;
//    left: 145px;
//    z-index: 5;
//  }
//}